
:root {
	--primary: #10302b;
	--secondary: #bc955c;

	--background: white;
	--foreground: #404041;

	--details: var(--secondary);
}

* {
	color: var(--foreground);
}

html,
body {
	overflow: hidden;
	margin: 0;

	font-size: 1em;
}

h1 {
	font-size: 1.8em;
	margin: 20px 35px;
}


button, input, select, textarea, option {
	font-size: 1em;
}


button {
	cursor: pointer;
}

button:disabled {
	cursor: not-allowed;
}
