
:root {
	--primary: #235b4e;
	--secondary: #ddc9a4;
	--tertiary: #9f203b;
	--quaternary: #98989a;

	--primary-dark: #6a1c32;
	--secondary-dark: #10302b;
	--tertiary-dark: #bc955c;
	--quaternary-dark: #767573;

	--background: white;
	--foreground: #404041;

	--details: var(--secondary);
}

* {
	color: var(--foreground);
}

html,
body {
	overflow: hidden;
	margin: 0;

	font-size: 1em;
}

h1 {
	font-size: 1.8em;
	margin: 20px 35px;
}


button, input, select, textarea, option {
	font-size: 1em;
}


button {
	cursor: pointer;
}

button:disabled {
	cursor: not-allowed;
}
